@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: white;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Forçar texto branco e destacado em toda a plataforma administrativa */
/* No cardápio digital, usamos classes específicas para contornar isso */
* {
    color: white;
    font-weight: 600;
}

.material-symbols-outlined {
    font-weight: normal !important;
}

/* Animação do Carrossel do Banner (Esquerda para Direita) */
@keyframes scroll-left-to-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-carousel-banner {
    display: flex;
    width: fit-content;
    animation: scroll-left-to-right 40s linear infinite;
}

/* Utilitário para esconder scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Ajustes para o Cardápio Digital */
.digital-menu-text-dark {
    color: #0f172a !important;
    /* slate-900 */
}

.digital-menu-text-gray {
    color: #64748b !important;
    /* slate-500 */
}

.digital-menu-text-red {
    color: #dc2626 !important;
    /* red-600 */
}